.env
.DS_Store
__pycache__/

ml-model/formula_images/
ml-model/output/
ml-model/crop_formula_images/


output.zip
*.zip

.ipynb_checkpoints/
data/
.DS_Store
*.gz
*.venv
simese_data/
venv/
ml-model/model.pt
training_data/
*.png
im2latex/
ml-model/model.pt
simese_data/
venv/
*.pem
ml-model/paths_output.csv

ml-model/web/__pycache__/
