.home-container {
  min-width: 100%;
  min-height: 92vh;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

.home-content>h1 {
  font-weight: bold;
  font-size: 3rem;
}

/* Media query for large screens */
@media screen and (min-width: 760px) {
  .home-content>h1 {
    font-size: 4.5rem;
  }
}



.home-content {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  width: 100%;
  max-width: 800px;
  place-items: center;
  padding-left: 20px;
  padding-right: 20px;
}


/* h1,
h2,
h3 {
  line-height: 1.2;
} */

@media screen and (max-width: 1120px) {
  .home-container>h1 {
    padding-top: 60px;
    font-size: 3.5rem;
  }

  .home-content {
    margin-top: 30px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .home-container>h1 {
    font-size: 2rem;
  }
}