* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

/*****************************/
/* .App {                    */
/*   text-align: center;     */
/* }                         */
/*                           */
/* .navbar-brand {           */
/*   padding-left: 10px;     */
/* }                         */
/*                           */
/* form {                    */
/*   margin: auto;           */
/*   display: flex;          */
/*   flex-direction: column; */
/*   width: 420px;           */
/*   padding-bottom: 10px;   */
/* }                         */
/*                           */
/* .text-field {             */
/*   border-radius: 5px;     */
/*   border-width: thin;     */
/*   border-color: black;    */
/* }                         */
/*                           */
/* .pdf-select {             */
/*   margin-top: 20px;       */
/* }                         */
/*                           */
/* .input-section {          */
/*   margin-top: 15%;        */
/* }                         */
/*                           */
/* .title {                  */
/*   font-weight: bold;      */
/*   font-size: 60px;        */
/*   padding-bottom: 10px;   */
/* }                         */
/*****************************/
